//Colors
$color-grey: #333;
$color-white: #fff;

//Navigation colors
$nav-background-color: $color-grey;
$nav-text-color: $color-white;

//clock section
$clock-text-color: $color-white;
$clock-dg-color: #B5d0e2;
$clock-border-color: #2099e8;